<section class="content">
  <div class="wrapper">
<div class="main">
    <table style="width:70%;font-size:20px;">
      <tr>
        <td>Số đơn hàng: <%=@purchase_order[0].RefNo %></td>
        <td colspan="3">Tình trạng: <font style="color:red"><%=@purchase_order[0].Status %></font></td>
      </tr>
      <tr>
        <td>Nhà cung cấp: <%=@purchase_order[0].AccountObjectName %></td>
        <td>Địa chỉ: <%=@purchase_order[0].AccountObjectAddress %></td>
        <td>SDT: <%=@purchase_order[0].AccountObjectTaxCode %></td>
        <td>Email: <%= %></td>
      </tr>
      <tr>
        <td>Ngày đơn hàng: <%=@purchase_order[0].RefDate.strftime("%d-%m-%Y") %></td>
        <td colspan="3">Ngày giao hàng: <%=@purchase_order[0].ReceiveDate.strftime("%d-%m-%Y") %></td>
      </tr>
      <tr>
        <td>Diễn giải: <%=@purchase_order[0].JournalMemo %></td>
        <td colspan="3">Số tiền: <%=@purchase_order[0].TotalAmount %></td>
      </tr>
      <tr>
        <td>Tổng khối lượng: xxx</td>
        <td colspan="3">Tổng thể tích: xxx</td>
      </tr>
    </table>
    
  </div>
  <% @detail_pus.each do |detail_pu|%>
  <div class="row">
    <table style="width:90%;font-size:18px;">
      <tr>
        <td>Mã hàng:<%= detail_pu.InventoryItemID%></td>
        <td colspan="3">Tên hàng: <%= detail_pu.Description%></td>
      </tr>
      <tr>
        <td>Số lượng: <%= detail_pu.Quantity%></td>
        <td colspan="3">
          Đơn vị tính:
          <%= select("post", "person_id", @Units.collect {|p| [ p.UnitName, p.UnitID ] }, { selected: detail_pu.UnitID})%>
        </td>
      </tr>
      <tr>
        <td>Số lượng nhận: <input type="text" value="<%= detail_pu.QuantityReceipt%>"/></td>
        <td>Đơn giá: <input type="text" value="<%= detail_pu.UnitPrice%>"/></td>
        <td colspan="2">Thành tiền: <%= detail_pu.Amount%></td>
      </tr>
      <tr>
        <td>Tỉ lệ chiết khấu: <input type="text" value="<%= detail_pu.DiscountRate%>"/></td>
        <td>Tiền chiết khấu: <input type="text" value="<%= detail_pu.DiscountAmount%>"/></td>
        <td>Tỉ lệ GTGT: <input type="text" value="<%= detail_pu.VATRate%>"/></td>
        <td>Tiền GTGT: <input type="text" value="<%= detail_pu.VATAmount%>"/></td>
      </tr>
      <tr>
        <td>Thể tích: xxx</td>
        <td colspan="3">Khối lượng: xxx</td>
      </tr>
    </table>
  </div>
  <% end %>
  
    <center style="margin-top:10px;">
    <%= link_to "Quay lại", purchase_orders_path, class: "btn btn-primary", onclick: "location"%>
</div>
</section>